<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Home')"></head>
<body>
<nav th:replace="/fragments/navbar :: topNavbar('Home')"></nav>
<h1 style="text-align: center">
    <span>Best of the year by </span>
    <span th:text="${name}"></span>
</h1>
<h2 class="lorem">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, assumenda aut delectus deserunt dolor eius
    fuga impedit inventore ipsam iste itaque nam omnis perspiciatis quae, quam quasi sed veniam?
</h2>
</body>
</html>